In [11]:
import pandas as pd
pd.set_option("display.max_seq_items", None)  # <- enlève le "..."
pd.set_option("display.width", None)          # optionnel

In [4]:
raw_data = pd.read_csv("C:/Users/alexi/OneDrive/Documents/école/McGill-FIAM/2025/Hackathon-Final-2025/DATA ASSET MANAGEMENT HACKATHON 2025 FINALS/MAIN DATA and SUPPORTING CODES/ret_sample_update.csv")

C:\Users\alexi\AppData\Local\Temp\ipykernel_30296\2691490454.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("C:/Users/alexi/OneDrive/Documents/école/McGill-FIAM/2025/Hackathon-Final-2025/DATA ASSET MANAGEMENT HACKATHON 2025 FINALS/MAIN DATA and SUPPORTING CODES/ret_sample_update.csv")

In [5]:
data = raw_data.copy()

In [6]:
# for 2005 to 2025, read pickle file get gvkeys into a dictionary and delete the dataframe to free up memory
gvkeys_dict = {}
for year in range(2005, 2026):
    text_data = pd.read_pickle(f"C:\\Users\\alexi\\OneDrive\\Documents\\école\\McGill-FIAM\\2025\\Hackathon-Final-2025\\DATA ASSET MANAGEMENT HACKATHON 2025 FINALS\\TEXT DATA US by YEAR\\{year}\\text_us_{year}.pkl")
    gvkeys_dict[year] = text_data['gvkey'].unique().tolist()
    del text_data

In [7]:
# For every gvkey in the dictionary, filter the data dataframe to only include rows with those gvkeys for the corresponding year
filtered_data_list = []
for year in range(2005, 2026):
    # data from that year contains only gvkeys in gvkeys_dict[year]
    filtered_data = data[(data['year'] == year) & (data['gvkey'].isin(gvkeys_dict[year]))]
    filtered_data_list.append(filtered_data)

# concatenate all filtered dataframes
filtered_data = pd.concat(filtered_data_list, ignore_index=True)
del filtered_data_list

In [ ]:
# Keep columns: date, excntry, stock_ret, year, month, char_date, market_equity, be_me, ni_me, at_gr1, tangibility, at_be, debt_me, div12m_me, eqpo_me, eqnetis_at, debt_iss, ni_be, profit_sale, gp_at, turnover_126d
filtered_data = filtered_data[['date', 'gvkey', 'excntry', 'stock_ret', 'year', 'month', 'char_date', 'market_equity', 'be_me', 'ni_me', 'at_gr1', 'tangibility', 'at_be', 'debt_me', 'div12m_me', 'eqpo_me', 'eqnetis_at', 'dbnetis_at', 'ni_be', 'ebit_sale', 'gp_at', 'turnover_126d']]
filtered_data.head()

,date,gvkey,excntry,stock_ret,year,month,char_date,market_equity,be_me,ni_me,at_gr1,tangibility,at_be,debt_me,div12m_me,eqpo_me,eqnetis_at,dbnetis_at,ni_be,ebit_sale,gp_at,turnover_126d
0,20050228,1243.0,CAN,0.006239,2005,2,20050131,14740.873131,0.806940,0.048776,0.745917,0.550716,2.687348,0.615839,0.014944,0.014924,0.002440,-0.040043,0.060446,0.064513,0.132266,0.002816
1,20050228,2697.0,CAN,0.219169,2005,2,20050131,5361.886510,0.502860,0.061368,0.312924,0.945640,2.380715,0.359312,0.007424,0.102224,-0.053957,0.112408,0.122037,0.214775,0.259079,0.003992
2,20050228,3153.0,CAN,0.135651,2005,2,20050131,844.238381,0.204080,-0.045023,0.534845,0.783726,2.393489,0.239259,NaN,0.000939,0.030358,-0.082417,-0.220614,-0.113432,0.102018,NaN
3,20050228,4040.0,CAN,0.004546,2005,2,20050131,7294.809288,0.595438,0.030264,1.667197,0.536211,1.951970,0.243202,0.028309,0.023708,0.010318,-0.134135,0.050826,0.073692,0.191872,0.000004
4,20050228,4864.0,USA,0.207941,2005,2,20050131,602.468980,NaN,-0.449718,-0.126524,0.485403,NaN,0.957732,NaN,0.009199,0.000000,-0.067308,NaN,0.013590,0.118811,0.038071

In [24]:
joining_table = pd.read_csv("C:/Users/alexi/OneDrive/Documents/école/McGill-FIAM/2025/Hackathon-Final-2025/DATA ASSET MANAGEMENT HACKATHON 2025 FINALS/MAIN DATA and SUPPORTING CODES/North America Company Name Merge by DataDate-GVKEY-IID.csv")
# rename datadate to date
joining_table = joining_table.rename(columns={"datadate": "date"})
joining_table

,gvkey,date,iid,tic,cusip,conm,cik
0,1003,2005-01-31,01,ANTQ,000354100,A.A. IMPORTING CO INC,730052.0
1,1004,2005-01-31,01,AIR,000361105,AAR CORP,1750.0
2,1009,2005-01-31,01,ABSI.1,000781104,ABS INDUSTRIES INC,313368.0
3,1013,2005-01-31,01,ADCT.1,000886309,ADC TELECOMMUNICATIONS INC,61478.0
4,1019,2005-01-31,01,AFAP,001038108,AFA PROTECTIVE SYSTEMS INC,2668.0
...,...,...,...,...,...,...,...
4438939,364383,2025-06-30,01,ITGLF,45829L107,INTEGRAL METALS CORP,2021206.0
4438940,364659,2025-06-30,01,AAGAF,827719105,SILVER47 EXPLORATION CORP,2079414.0
4438941,364659,2025-06-30,01C,AGA.,827719105,SILVER47 EXPLORATION CORP,2079414.0
4438942,364873,2025-06-30,01,TUNGF,030338107,AMERICAN TUNGSTEN CORP,2049560.0
4438943,366911,2025-06-30,01,AMRZ,H2927K103,AMRIZE LTD,2035989.0

In [23]:
# Add tic and conm to filtered_data by merging with joining_table on gvkey and date
filtered_data = filtered_data.merge(joining_table[['gvkey', 'date', 'tic', 'conm']], on=['gvkey', 'date'], how='left')

ValueError: You are trying to merge on int64 and object columns for key 'date'. If you wish to proceed you should use pd.concat